<div class="container">
  <!--Place you component path here-->
  <h1>Hello, StrikeShark was here!</h1>
  <p>This is a simple Bootstrap example.</p>
  <footer>&copy; Copyright 2023 by JhonArroyo</footer>
</div>